project/LaborGuru_SPM/trunk/src/main/data/sql/spm_dataset.dtd

<!ELEMENT dataset (
    tbl_customers*,
    tbl_regions*,
    tbl_areas*,
    tbl_employees*,
    tbl_permissions*,    
    tbl_menu_items*,
    tbl_operation_times*,
    tbl_stores*,
    tbl_positions*,
    tbl_profiles*,
    tbl_profiles_permissions*,
    tbl_users*,
    tbl_users_profiles*)>

<!ELEMENT tbl_areas EMPTY>
<!ATTLIST tbl_areas
    area_id CDATA #REQUIRED
    name CDATA #IMPLIED
    region_id CDATA #IMPLIED
>

<!ELEMENT tbl_customers EMPTY>
<!ATTLIST tbl_customers
    customer_id CDATA #REQUIRED
    name CDATA #IMPLIED
>

<!ELEMENT tbl_employees EMPTY>
<!ATTLIST tbl_employees
    user_id CDATA #REQUIRED
    store_id CDATA #IMPLIED
    default_position CDATA #IMPLIED
    manager CDATA #IMPLIED
    phone CDATA #IMPLIED
    phone2 CDATA #IMPLIED
    hire_date CDATA #IMPLIED
    max_hours_week CDATA #IMPLIED
    max_days_week CDATA #IMPLIED
    max_hour_day CDATA #IMPLIED
    address CDATA #IMPLIED
    address2 CDATA #IMPLIED
    city CDATA #IMPLIED
    state CDATA #IMPLIED
    zip CDATA #IMPLIED
    comments CDATA #IMPLIED
    employee_id CDATA #IMPLIED
    wage CDATA #IMPLIED
>

<!ELEMENT tbl_menu_items EMPTY>
<!ATTLIST tbl_menu_items
    menu_item_id CDATA #REQUIRED
    label_key CDATA #REQUIRED
    help_key CDATA #IMPLIED
    target CDATA #IMPLIED
    position CDATA #IMPLIED
    parent_id CDATA #IMPLIED
    permission_id CDATA #REQUIRED
>

<!ELEMENT tbl_operation_times EMPTY>
<!ATTLIST tbl_operation_times
    operation_time_id CDATA #REQUIRED
    open_hour CDATA #REQUIRED
    close_hour CDATA #REQUIRED
    day_of_week CDATA #REQUIRED
    store_id CDATA #IMPLIED
>

<!ELEMENT tbl_permissions EMPTY>
<!ATTLIST tbl_permissions
    permission_id CDATA #REQUIRED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
>

<!ELEMENT tbl_positions EMPTY>
<!ATTLIST tbl_positions
    position_id CDATA #REQUIRED
    name CDATA #IMPLIED
    store_id CDATA #IMPLIED
>

<!ELEMENT tbl_profiles EMPTY>
<!ATTLIST tbl_profiles
    profile_id CDATA #REQUIRED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
>

<!ELEMENT tbl_profiles_permissions EMPTY>
<!ATTLIST tbl_profiles_permissions
    profile_id CDATA #REQUIRED
    permission_id CDATA #REQUIRED
>

<!ELEMENT tbl_regions EMPTY>
<!ATTLIST tbl_regions
    region_id CDATA #REQUIRED
    name CDATA #IMPLIED
    customer_id CDATA #IMPLIED
>

<!ELEMENT tbl_stores EMPTY>
<!ATTLIST tbl_stores
    store_id CDATA #REQUIRED
    name CDATA #IMPLIED
    code CDATA #IMPLIED
    first_day_of_week CDATA #IMPLIED
    area_id CDATA #IMPLIED
>

<!ELEMENT tbl_users EMPTY>
<!ATTLIST tbl_users
    user_id CDATA #REQUIRED
    username CDATA #REQUIRED
    password CDATA #IMPLIED
    status CDATA #IMPLIED
    email CDATA #IMPLIED
    name CDATA #IMPLIED
    surname CDATA #IMPLIED
    last_logon CDATA #IMPLIED
    login_count CDATA #IMPLIED
    creation_date CDATA #IMPLIED
    last_update_date CDATA #IMPLIED
>

<!ELEMENT tbl_users_profiles EMPTY>
<!ATTLIST tbl_users_profiles
    user_id CDATA #REQUIRED
    profile_id CDATA #REQUIRED
>

